.chapterList {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    .chapter {
        box-sizing: border-box;
        border-top: .5px solid gray;
        border-bottom: .5px solid gray;
        padding: .8rem 1rem;
        width: 100%;

        cursor: pointer;

        transition: background .2s;
    
        &:hover {
          background: rgb(51, 56, 66);
        }
    }
}